@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');


.body {
  height: 135vh;
  margin-left: auto;
  margin-right: auto;
  background: #9C835F;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.headers {
  font-size: 42px;
  color: #000000;
}

.option{
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: .9em;
  padding: 3em;
} 

.option:hover{
  background: #C4C4C4;
  border-radius: 30px;
}

.player{
  font-family:'Open sans';
  margin-left: 7%;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}



.com{
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  margin-left: 30%;
  line-height: 49px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.versus {
  position: absolute;
  width: 296px;
  height: 186px;
  left: 44%;
  top: 60%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 196px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #BD0000;
}

.com h3{
  position: absolute;
  width: 299px;
  height: 94px;
  left: 61%;
  top: 24%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

#batu {
  position: absolute;
  width: 188px;
  height: 186px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 23%;
  top: 31%;
}

#kertas {
  position: absolute;
  width: 188px;
  height: 229px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 23%;
  top: 55%;
}

#gunting {
  position: absolute;
  width: 188px;
  height: 231px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 23%;
  top: 86%;
}

.random{
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: .9em;
  padding: 3em;
  border-radius: 30px;
} 

.random:hover{
  background: #C4C4C4;
  border-radius: 30px;
}

#batu2 {
  position: absolute;
  width: 188px;
  height: 186px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 64%;
  top: 31%;
}

#kertas2 {
  position: absolute;
  width: 188px;
  height: 229px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 64%;
  top: 55%;
}

#gunting2 {
  position: absolute;
  width: 188px;
  height: 231px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  left: 64%;
  top: 86%;
}

.refresh {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 77px;
  height: 71px;
  margin: 10px;
  line-height: 75px;
  left: 46%;
  top: 109%;
}
  
.hasil{
  display: flex;
  justify-content: center;
}

.result {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  transform: rotate(-30deg);
  color: white;
  width: 271.11px;
  height: 166.93px;
  left: 42%;
  top: 60%;
  border-radius: 6%;
}

.refresh-img {
  height: 71px;
  width: 77px;
  margin-bottom: 100px;
}
